ion-content.ajout-annonce {
  --background: #f0f0f0;
}

#tool {
  margin: auto;
  width: fit-content;
  display: flex;
  align-items: center;
}

#elan {
  width: 10vw;
  height: 2px;
  margin: auto;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

ion-button.pagination-button {
  --border-radius: 30%;
  --background: black;
  text-align: center;
}

ion-button.active-button {
  --border-radius: 30%;
  --background: red;
  text-align: center;
}

.ajout-annonce-page {
  position: relative;
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 3px;
}

ion-input.ajout-annonce {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

ion-select.ajout-annonce {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

ion-textarea.ajout-annonce {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#ajout-annonce-button {
  margin-top: 30px;
  text-align: center;
}

.showImages {
  display: flex;
  flex-wrap: wrap;
}

.showImages img {
  width: 30%;
  margin: 5px; /* Add margin between images */
  object-fit: cover; /* This property ensures that the image maintains its aspect ratio */
  border: 1px solid #ddd; /* Add a border for better visibility */
}
